<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Pickups</h1>
      <p>Edit pickup events</p>
      <hr/>
      <div class="row">
        <div class="pickupsSelection">
          <span>Select a season:</span>
          <div class="btn-group"  uib-dropdown >
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>{{$ctrl.selectedSeason.name || "Select season"}}</button>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="season in $ctrl.seasons"><a href="#" ng-click="$ctrl.selectSeason(season)">{{season.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="pickupsSelection" ng-if="$ctrl.selectedSeason">
          <span>Filter by pickup option:</span>
          <div class="btn-group"  uib-dropdown>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>{{$ctrl.selectedPickupOption.name || "Any"}}</button>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="$ctrl.selectPickupOption(null)">Any</a></li>
              <li ng-repeat="pickupOption in $ctrl.getAvailablePickupOptions()"><a href="#" ng-click="$ctrl.selectPickupOption(pickupOption)">{{pickupOption.name}}</a></li>
            </ul>
          </div>
          <span>and/or an interval:</span>
          <div class="btn-group"  uib-dropdown>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
              <span ng-if="$ctrl.selectedInterval"><b>{{$ctrl.selectedInterval.number}}</b> / {{$ctrl.selectedInterval.startDate | date:"dd.MM.yyyy"}}</span>
              <span ng-if="!$ctrl.selectedInterval">Any</span>
            </button>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="$ctrl.selectInterval(null)">Any</a></li>
              <li ng-repeat="interval in $ctrl.getAvailableIntervals()"><a href="#" ng-click="$ctrl.selectInterval(interval)"><b>{{interval.number}}</b> / {{interval.startDate | date:"dd.MM.yyyy"}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Event N°</th>
            <th>Date</th>
            <th>Location</th>
            <th>Notes</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody ng-repeat="pickup in $ctrl.pickups">
          <tr>
            <td>
              {{pickup.eventNumber+1}}
            </td>
            <td>
              {{pickup.effectiveStart | date:'dd.MM.yyyy HH:mm' }} -
              {{pickup.effectiveEnd | date:'HH:mm' }}
            </td>
            <td>
              <span class="label label-default"><pickup-option-map option="pickup.pickupOptionOverride||pickup.pickupOption" hoverable="true"></pickup-option-map></span>
            </td>
            <td>
              <span ng-if="pickup.startDateOverride" class="label label-primary">Deviating time</span>
              <span ng-if="pickup.pickupOptionOverride" class="label label-primary">Non default location</span>
            </td>
            <td>
              <button class="btn btn-primary" ng-click="$ctrl.edit(pickup)"><span class="glyphicon glyphicon-pencil"> </span> Edit</button>
              <button class="btn btn-primary" ng-click="$ctrl.manage(pickup)"><span class="glyphicon glyphicon-apple"> </span> Manage</button>
              <button class="btn btn-primary" ng-click="$ctrl.print(pickup)"><span class="glyphicon glyphicon-print"> </span> Print</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
