<form class="form" name="form"  novalidate>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      Manage pickup event N°{{$ctrl.pickup.eventNumber + 1}}
    </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>Baskets to prepare: <b>{{$ctrl.userEvents.length}}</b></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Presence</th>
          <th>Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody ng-repeat="userEvent in $ctrl.userEvents">
        <tr>
          <td>
            <button type="button" class="btn btn-primary" ng-if="userEvent.done" ng-click="$ctrl.setDoneState(userEvent, false)"><span class="glyphicon glyphicon-check"> </span></button>
            <button type="button" class="btn btn-primary" ng-if="!userEvent.done" ng-click="$ctrl.setDoneState(userEvent, true)"><span class="glyphicon glyphicon-unchecked"> </span></button>
          </td>
          <td>
            <div>
              <span ng-class="{'userAbsent': userEvent.absent}">
                {{userEvent.basket.membership.firstName}} {{userEvent.basket.membership.lastName}}
              </span>
              <span ng-if="userEvent.absent" class="label label-danger">Absent</span>
              <pre ng-if="userEvent.userNote" class="userNotePre"><b>User note:</b><p>{{userEvent.userNote}}</p></pre>
              <span ng-if="userEvent.delegate" class="label label-warning"><b>Delegated to:</b> {{userEvent.delegate}}</span>
            </div>
          </td>
          <td>
            <button ng-click="$ctrl.setEditUserEvent(userEvent)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> </span> Edit</button>
          </td>
        </tr>
        <tr ng-if="$ctrl.editUserEvent._id === userEvent._id">
          <td colspan="3" class="editUserEventCell">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Delegate</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Name" ng-model="$ctrl.editUserEvent.delegate">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">User note</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" ng-model="$ctrl.editUserEvent.userNote"></textarea>
                </div>
              </div>
              <div class="form-group"  style="display:inline-block; min-height:50px;">
                <label>Alternative event:</label>
                <div class="btn-group"  uib-dropdown >
                  <button type="button" class="btn btn-primary" uib-dropdown-toggle>Pickup event: {{$ctrl.editUserEvent.pickupOptionOverride.name || "No change"}}</button>
                  <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="$ctrl.editUserEvent.pickupOptionOverride = null)">No change</a></li>
                    <li ng-repeat="pickupOption in $ctrl.getAlternatives()"><a href="#" ng-click="$ctrl.editUserEvent.pickupOptionOverride = pickupOption">{{pickupOption.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="$ctrl.editUserEvent.absent"> Will be absent
                    </label>
                  </div>
                </div>
              </div>
              <button ng-click="$ctrl.saveUserEvent($ctrl.editUserEvent, userEvent)" class="btn btn-primary"><span class="glyphicon glyphicon-save"> </span> Save</button>
              <button ng-click="$ctrl.setEditUserEvent(null)" class="btn btn-default"><span class="glyphicon glyphicon-cancel"> </span> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Done</button>
  </div>
</form>
