.basketDeclaration{
  float: left;
  width: 250px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #eee;
  padding: 5px;
  margin: 5px;
}

.basketCreation{
  background-color: #eee;
  border: 1px dotted #333;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}
