@import '~bootstrap/less/bootstrap.less';
@import '~font-awesome/less/font-awesome.less';

@icon-font-path: '/assets/fonts/bootstrap/';
@fa-font-path: '/assets/fonts/font-awesome/';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* inject:less */
@import 'adminMembers/adminMembers';
@import 'adminPickupOptions/adminPickupOptions';
@import 'adminSeasons/adminSeasons';
@import 'main/main';
@import 'seasons/seasons';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
/* endinject */
