<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Pickup Options</h1>
      <p>Modify the available pickup options.</p>
      <button class="btn btn-primary" ng-click="$ctrl.create()"><span class="glyphicon glyphicon-plus"> </span> Create</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-">
        <thead>
          <tr>
            <th>Name</th>
            <th>Geo URI</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody ng-repeat="pickupOption in $ctrl.pickupOptions">
          <tr>
            <td>{{pickupOption.name}}</td>
            <td>{{pickupOption.geoUri}}</td>
            <td>
              <button class="btn btn-primary listButton" ng-click="$ctrl.edit(pickupOption)"><span class="glyphicon glyphicon-pencil"> </span> Edit</button>
              <button class="btn btn-primary listButton" ng-click="$ctrl.delete(pickupOption)"><span class="glyphicon glyphicon-trash"> </span> Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
