<form class="form" name="form" ng-submit="$ctrl.save(form)" novalidate>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      {{'default_title'|tr}}
    </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>
      {{'default_only_future'|tr}}
    </p>
    <p>
      <div class="row basktePickupOptionRow" ng-repeat="basket in $ctrl.baskets">
        <label class="col-sm-6 control-label">{{'default_detail_start'|tr}}{{$index+1}}{{'default_detail_end'|tr}}</label>
        <div class="col-sm-6">
          <div class="btn-group"  uib-dropdown >
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>{{$ctrl.getPickupOptionName(basket) || ('select_pickup_option'|tr)}}</button>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="pickupOption in $ctrl.getActivePickupOptions() track by $index">
                <a href="#" ng-click="basket.defaultPickupOption = pickupOption._id">
                  <b>{{pickupOption.name}}</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">{{'save'|tr}}</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'cancel'|tr}}</button>
  </div>
</form>
