<form class="form" name="form" ng-submit="$ctrl.save(form)" novalidate>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      Change your pickup properties
    </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">Delegate:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="Name" ng-model="$ctrl.userEvent.delegate">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Note:</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="3" ng-model="$ctrl.userEvent.userNote"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Move to:</label>
      <div class="col-sm-9">
        <div class="btn-group"  uib-dropdown >
          <button type="button" class="btn btn-primary" uib-dropdown-toggle>{{$ctrl.userEvent.pickupEventOverride.pickupOption.name||"Select alternative"}}</button>
          <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="alternativeEvent in $ctrl.getAlternatives()">
              <a href="#" ng-click="$ctrl.setPickupOverride($ctrl.userEvent, $ctrl.userEvent.pickupEvent, alternativeEvent)">
                <b>{{alternativeEvent.pickupOptionOverride.name || alternativeEvent.pickupOption.name}}</b> {{alternativeEvent.startDate | date:'dd.MM.yyyy HH:mm'}}
                <span ng-if="$ctrl.userEvent.pickupEvent._id === alternativeEvent._id" class="label label-warning">default</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.userEvent.absent"> I won't come.
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</form>
